<footer class="global-footer">
  <nav>
    <ul>
      <li class="footer-cell">
        <h2 class="footer-head">大リスト１</h2>
        <ul>
          <li>
            <%= link_to "リスト１" , "" %>
          </li>
          <li>
            <%= link_to "リスト２" , "" %>
          </li>
        </ul>
      </li>
      <li class="footer-cell">
        <h2 class="footer-head">大リスト２</h2>
        <ul>
          <li>
            <%= link_to "リスト１" , "" %>
          </li>
          <li>
            <%= link_to "リスト２" , "" %>
          </li>
          <li>
            <%= link_to "リスト３" , "" %>
          </li>
          <li>
            <%= link_to "リスト４" , "" %>
          </li>
          <li>
            <%= link_to "リスト５" , "" %>
          </li>
        </ul>
      </li>
      <li class="footer-cell">
        <h2 class="footer-head">大リスト３</h2>
        <ul>
          <li>
            <%= link_to "リスト１" , "" %>
          </li>
          <li>
            <%= link_to "リスト２" , "" %>
          </li>
        </ul>
      </li>
      <li class="footer-cell">
        <h2 class="footer-head">国</h2>
        <ul class="footer-nav-lang">
          <li>
            <%= link_to "URL" do %>
              <%= image_tag "flag_jp.png", :width => "22" , :alt => "日本" , :class => "active", id: "lang" %>日本
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <%= link_to image_tag("footer-logo.png", {:width => "124" , :height => "33" , :alt => "mercari" }), "URL" , :class => "footer-logo" %>
  </a>
  <p class="footer-copyright">
    <small>© 2019 Mercari</small>
  </p>
</footer>
